body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

img {
    padding: 20px;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    /* TODO change image to be square */
}

div.main_buttons buttons {
    background-color: #eee;
    color: #000;
}

div.main_buttons button {
    font-size: 16px;
    /* TODO add text orientation to be in the middle or completely remove it */
    margin: 5vw 5vw 5vw 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
div.main_buttons button:hover {
    transform: scale(1.1);
}

.chess-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }


/*  OLD CODE
.checkers-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.checkers-board th { padding: .5em; }
.checkers-board td { border: 1px solid; width: 2em; height: 2em; }
.checkers-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.checkers-board .light { background: #eee; }
.checkers-board .dark { background: #aaa; }
.checkers-board .dark .dot {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
.checkers-board .light .dot {
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
} */

/* NEW CODE */
#checkers {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #eee;
    margin: 0;
    padding: 0;
    overflow: overlay;
}

#wrap {
    display: block;
    margin: 1rem auto;
    max-width: 90%;
    width: 600px;
    padding: 1rem;
}

#checkers-board {
    border: solid 3pc black;
    background-color: #eee;
    display: inline-flex;
    flex-wrap: wrap;
}

.square {
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 12.5%;
    text-align: center;
    display: inline-block;
}

.square.white, .checkers-piece i.black {
    background-color: white;
}

.square.black, .checkers-piece i.white {
    background-color: #000;
}

.checkers-piece i.black {color: black; border: solid 1px black}
.checkers-piece i.white {color: white; border: solid 1px white}

.checkers-piece i {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    max-width: 90%;
}

.checkers-panel {padding: 0.5rem; margin: 1rem auto;}
.checkers-panel-header {text-align:center;}
.checkers-panel.white {background: white;}
.checkers-panel.black {background: black;}
.white-text {color: white;}
.taken-pieces {padding: 0.5rem;}
.checkers-panel.white .taken-pieces {border: solid 1px black; border-radius: 30px;}
.checkers-panel.black .taken-pieces {border: solid 1px white; border-radius: 30px;}

@media screen and (max-width:1024px) {
    .checkers-piece i {
      margin-top: 0.5rem; width: 15px; height: 15px;
      padding: 0.3rem; line-height: 0.5;
    }
    .square {height: 80px; width: 80px;}
}