body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
    cursor: default;
}

div.main_buttons {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}

div.main_buttons button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

div.main_buttons button:hover {
    transform: scale(1.05);
    z-index: 2;
}

button img {
    position: absolute;
    top: 20px;
    left: -100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: transparent;
    cursor: pointer;
}

button h1 {
    z-index: 3;
    font-size: 2rem;
    text-transform: uppercase;
    background: rgba(238, 232, 232, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    position: relative;
    cursor: pointer;
}

.chess_button img {
    left: -100%;
}

.checkers_button img {
    left: 100%;
}

.chess_button:hover img {
    opacity: 1;
    transform: translateX(100%);
}

.checkers_button:hover img {
    opacity: 1;
    transform: translateX(-100%);
}

a .home_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a .home_btn:hover {
    background-color: #555;
}

/* TODO definitely find a better way to do this, not only css but mainly html too */
/* perhaps doing this in js would be smarter */
/* maybe create the board in html somehow and then do the figures on top of it */
/* if this is too hard then try to do the whole board and figure creation in js */
/* so that moving them should be easier to make */
.chess-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.chess-board th { padding: .5em; cursor: default;}
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 2.5em; height: 2.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; cursor: pointer;}
.chess-board .dark { background: #aaa; cursor: pointer;}

.checkers-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.checkers-board th { padding: .5em; cursor: default;}
.checkers-board td { border: 1px solid; width: 2em; height: 2em; }
.checkers-board td { width: 2.5em; height: 2.5em; text-align: center; font-size: 32px; line-height: 0;}
.checkers-board .light { background: #eee; }
.checkers-board .dark { background: #aaa; }
.checkers-board .dark .dot {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
.checkers-board .light .dot {
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}