body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

h1 {
    cursor: default;
}

img {
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
}

a .home_btn {
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    background-color: transparent;
}

a .home_btn:hover {
    background-color: #eee;
}

div.main_buttons button {
    height: 20em;
    width: 20em;
    border: 0px;
    background: transparent;
    color: #000;
    margin: 5vw 5vw 5vw 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
div.main_buttons button:hover {
    transform: scale(1.1);
}

.chess-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }

.checkers-board { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.checkers-board th { padding: .5em; }
.checkers-board td { border: 1px solid; width: 2em; height: 2em; }
.checkers-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.checkers-board .light { background: #eee; }
.checkers-board .dark { background: #aaa; }
.checkers-board .dark .dot {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
.checkers-board .light .dot {
    height: 25px;
    width: 25px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}